  <%- include('../partials/boilerplate.ejs') %>
  <body id="account-forms">
    <form id="log-in-form" action="/auth/log-in" method="post">
      <h1 class="title">Log in</h1>
      <label for="username">Username:</label>
      <input type="text" name="username" class="username" required/>
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" class="password" required/>
      <br />
      <button class="form-button" type="submit">Log In</button>
    </form>
  </body>
</html>
