<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beatsync</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <%- include('../partials/_navbar.ejs') %>
  <body id="account-forms">
    <h1>Register</h1>
    <form id="sign-up-form" action="/auth/sign-up" method="post" enctype="multipart/form-data">
      <label for="username">Username:</label>
      <input type="text" name="username" class="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" class="password" required />
      <br />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required />
      <br />
      <label for="isOrganiser">Organiser?</label>
      <input type="checkbox" name="isOrganiser" id="isOrganiser" />
      <br />
      <label for="avatar">Avatar:</label>
      <input type="file" name="avatar" class="avatar" accept="image/*" />
      <br />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
