  <%- include('../partials/boilerplate.ejs') %>
  <body>
    <form id="sign-up-form" action="/auth/sign-up" method="post" enctype="multipart/form-data">
      <h1 class="title">Register</h1>
      <label for="username">Username:</label>
      <input type="text" name="username" class="username" required/>
      <% if(errors.username) { %>
        <p id="failure"><%= errors.username.message %></p>
        <% } %>
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" class="password" required/>
      <% if(errors.password) { %>
        <p id="failure"><%= errors.password.message %></p>
        <% } %>
      <br />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required/>
      <% if(errors.password) { %>
        <p id="failure">Please provide a matching password</p>
        <% } %>
      <br />
      <label for="isCreator">Creator?</label>
      <input type="checkbox" name="isCreator" id="isCreator" />
      <br />
      <label for="avatar">Avatar:</label>
      <input type="file" name="avatar" class="avatar" accept="image/jpg, image/png, image/jpeg" />
      <br />
      <button class="form-button" type="submit">Sign Up</button>
    </form>
  </body>
</html>
