<footer id="nav">
  <nav>
    <a id="nav" href="/home">Home</a>
    <a id="nav" href="/search">Search</a>
    <a id="nav" href="/auth/log-in">Profile</a>
    <a id="nav" href="/">Something</a>
  </nav>
</footer>
