<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beatsync</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <h1 id="logo">BEAT<br />SYNC</h1>
    <h1 class="title">ERROR: 404 <br /><small>Resource not found</small></h1>
    <div id="lost">
      <img src="/images/404.webp" />
      <p>You will be redirected automatically in 3 seconds...</p>
      <meta http-equiv="refresh" content="3; url = '/'" />
      <a class="on-screen-buttons" href="/home">or take yourself there</a>
    </div>
  </body>
</html>
