<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beatsync</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <%- include('./partials/_navbar.ejs') %>
  <body>
    <h1>BEAT<br />SYNC</h1>
    <% if(user) { %>
    <h2>HEY, <%= user.username %> WHERE U GOING NEXT?</h2>
    <% } %>
    <h2>HEY GUEST, DO US A FAVOUR AND <a href="/auth/sign-up">SIGN UP.</a></h2>
  </body>
</html>
