  <%- include('./partials/boilerplate.ejs') %>
  <body>
    <h1 id="logo">BEAT<br />SYNC</h1>
    <div id="home-screen">
    <% if(user) { %>
    <h2>Hey, <%= user.username %>.</h2>
    <h3>SEE THE HOTTEST VENUES:</h3>
    <% } else { %>
      <h2>Hey Guest! <br/>If you don't have an account already:<a href="/auth/sign-up">sign up.</a></h2>
      <h2>If you already have an account:<a href="/auth/log-in">log in.</a></h2>
      <h3>SEE THE HOTTEST VENUES:</h3>
    <a class="on-screen-buttons" href="/venues">ALL VENUES</a>
    <% } %>
      <% if (user) { %>
      <a class="on-screen-buttons" href="/venues">ALL VENUES</a>
      <% } %> <% if(user && user.isCreator === true) { %>
      <a class="on-screen-buttons" href="/venues/new">ADD A VENUE</a>
      <% } %>
    </div>
  </body>
</html>
