  <%- include('./partials/boilerplate.ejs') %>
  <body>
    <h1 id="logo">BEAT<br />SYNC</h1>
    <% if(user) { %>
    <h2>HEY, <%= user.username.toUpperCase() %>.</h2>
    <h3>SEE THE HOTTEST VENUES:</h3>
    <% } else { %>
    <h2>HEY GUEST, DO US A FAVOUR AND <a href="/auth/sign-up">SIGN UP.</a></h2>
    <% } %>
    <div id="home-screen">
      <% if (user) { %>
      <a class="on-screen-buttons" href="/venues">ALL VENUES</a>
      <% } %> <% if(user && user.isOrganiser === true) { %>
      <a class="on-screen-buttons" href="/venues/new">REGISTER A VENUE</a>
      <% } %>
    </div>
  </body>
</html>
