<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beatsync</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>BEAT<br />SYNC</h1>
    <h2>HEY, FIX. DO US A FAVOUR? <a href="/auth/log-in">LOG IN</a></h2>
  </body>
</html>
