<%- include('./partials/boilerplate.ejs') %>
<body>
<h1 class="title">SEARCH</h1>
<form id="search" action="/venues/search" method="get">
  <input type="text" placeholder="Search..." />
  <button type="submit">GO</button>
</form>
</body>
</html>