* {
  box-sizing: border-box;
  color: white;
  background-color: black;
}

#loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-logo {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-size: 70px;
  color: #a10000;
}

#slogan {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

#logo {
  font-family: "Sixtyfour Convergence", sans-serif;
  color: #a10000;
  text-align: center;
}

h1 {
  color: #a10000;
  text-align: center;
}
h2,
h3,
p,
a {
  font-family: "Quicksand";
}

#home-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-screen-buttons {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  background-color: #a10000;
  color: white;
  margin: 5px;
}

#sign-up-form,
#log-in-form,
#register-venue-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

input[type="text"],
input[type="password"],
textarea {
  margin: 5px;
  width: 100%;
  background-color: grey;
  color: white;
}
input[type="file"] {
  margin: 5px;
}
::placeholder {
  color: white;
  font-size: 10px;
}

#failure {
  font-size: 10px;
  color: red;
}
#success {
  font-size: 10px;
  color: green;
}

#avatar {
  position: sticky;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}

#venue-logo {
  height: 100px;
  width: 100px;
}

button {
  font-size: 10px;
  background-color: #a10000;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

nav,
#nav {
  text-decoration: none;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
