  <%- include('../partials/boilerplate.ejs') %>
  <body>
    <h1 id="logo">BEAT<br />SYNC</h1>
    <p id="success"><% if(message) { %><%= message %><% } %></p>
    <ul>
      <% venues.forEach(venue => { %>
      <li>
        <a href="/venues/<%=venue._id%>"><%= venue.name %></a>
      </li>
      <br />
      <% }) %>
    </ul>
    <% if(user && user.isOrganiser === true) { %>
    <a class="on-screen-buttons" href="/venues/new">REGISTER A VENUE</a>
    <% } %>
  </body>
</html>
